{mode, max}.
{duration, 2}.
{concurrent, 5}.

{driver, basho_bench_driver_aql_part}.

{aql_shell, "aql"}.

{key_generator, {pareto_int, 500000000}}.

{value_generator, {uniform_int, 20}}.

{aql_actors, Nodes}.
{aql_pb_ports, Ports}.

{operations, [{put, 10}, {get, 90}, {delete, 0}]}.

{population, 66}.

{partitions, [{'Artist', 'Age'}]}.
