{mode, max}.
{duration, 2}.
{concurrent, 3}.

{driver, basho_bench_driver_aql}.

{aql_shell, "aql"}.

{key_generator, {pareto_int, 500000000}}.

{value_generator, {uniform_int, 3}}.

{aql_actors, Nodes}.
{aql_pb_ports, Ports}.

{operations, [{put, 50}, {get, 50}, {delete, 0}]}.

{population, 111}.

{gallery_crp, {'update-wins', undefined, undefined}}.
{artist_crp, {'delete-wins', 'no-concurrency', cascade}}.
{artwork_crp, {'update-wins', 'no-concurrency', cascade}}.
