{mode, max}.
{duration, 2}.
{concurrent, 1}.

{driver, basho_bench_driver_aql}.

{aql_shell, "aql"}.

{key_generator, {pareto_int, 500000000}}.

{value_generator, {uniform_int, 3}}.

{aql_actors, Nodes}.
{aql_pb_ports, Ports}.

{operations, [{put, 50}, {get, 50}, {delete, 0}]}.

{population, 50}.

{gallery_crp, {'update-wins', undefined, undefined}}.
{artist_crp, {'delete-wins', 'delete-wins', cascade}}.
{artwork_crp, {'update-wins', 'delete-wins', cascade}}.

{indexes, [{'IArtist', 'Artist', 'Gallery'}, {'IArtWork', 'ArtWork', 'Artist'}]}.
