{mode, max}.
{duration, 5}.
{concurrent, 20}.

{driver, basho_bench_driver_antidote_aql_ri}.

{aql_shell, "aql"}.

{key_generator, {pareto_int, 500000000}}.

{value_generator, {uniform_int, 3}}.

{aql_actors, Nodes}.

{operations, [{put, 10},{get, 85}, {delete, 5}]}.

{population, 100}.

{artist_crp, {aw, undefined, undefined}}.
{album_crp, {rw, 'delete-wins', cascade}}.
{track_crp, {aw, 'delete-wins', cascade}}.
