{mode, max}.
{duration, 5}.
{concurrent, 10}.

{driver, basho_bench_driver_aql_range}.

{key_generator, {pareto_int, 500000000}}.
{value_generator, {uniform_int, 500000000}}.

{aql_shell, "aql"}.
{aql_actors, Nodes}.

{operations, [{put, 10}, {get, 45}, {range, 45}, {delete, 0}]}.

{population, 25}.
{sec_indexes, false}.
{column_search, [{1, "Name", 0}, {2, "Age", 1}]}.
