{mode, max}.
{duration, 5}.
{concurrent, 20}.

{driver, basho_bench_driver_aql_range}.

{key_generator, {pareto_int, 500000000}}.
{value_generator, {uniform_int, 500000000}}.

{aql_shell, "aql"}.
{aql_actors, Nodes}.

{operations, [{put, 100}, {get, 0}, {range, 0}, {delete, 0}]}.

{population, 100}.
{sec_indexes, false}.
{column_search, [{1, "Name", 1}, {2, "Age", 1}]}.
