{mode, max}.
{duration, 5}.
{concurrent, 10}.

{driver, basho_bench_driver_aql}.

{aql_shell, "aql"}.

{key_generator, {pareto_int, 500000000}}.

{value_generator, {uniform_int, 3}}.

{aql_actors, Nodes}.
{aql_pb_ports, Ports}.

{operations, [{put, 10}, {get, 85}, {delete, 5}]}.

{population, 100}.

{gallery_crp, {'update-wins', undefined, undefined}}.
{artist_crp, {'delete-wins', 'delete-wins', cascade}}.
{artwork_crp, {'update-wins', 'delete-wins', cascade}}.
