{concurrent, 3}.

{mode, max}.

{duration, 5}.

{driver, basho_bench_driver_antidote_index}.

{key_generator, {pareto_int, 2000}}.
{value_generator, {fixed_bin, 100}}.

{operations, [{add, 0}, {get, 100}, {range, 0}]}.
% {operations, [{add, 0}, {get, 0}, {read, 0}, {range, 0}]}.
{population, 1000}.

{antidote_cookie, antidote}.

{index_crdt, antidote_crdt_index_godict}.
{index_entry_type, {antidote_crdt_register_lww, [assign]}}.

{antidote_nodes, ['antidote@192.168.100.10', 'antidote@192.168.100.20', 'antidote@192.168.100.30']}.
