{mode, max}.
{duration, 2}.
{concurrent, 4}.

{driver, basho_bench_driver_aql}.

{aql_shell, "aql"}.

{key_generator, {pareto_int, 500000000}}.

{value_generator, {uniform_int, 3}}.

{aql_actors, Nodes}.
{aql_pb_ports, Ports}.

{operations, [{put, 10}, {get, 89}, {delete, 1}]}.

{population, 83}.

{gallery_crp, {'update-wins', undefined, undefined}}.
{artist_crp, {'delete-wins', 'update-wins', cascade}}.
{artwork_crp, {'update-wins', 'update-wins', cascade}}.
