{mode, max}.
{duration, 2}.
{concurrent, 2}.

{driver, basho_bench_driver_aql_part}.

{aql_shell, "aql"}.

{key_generator, {pareto_int, 500000000}}.

{value_generator, {uniform_int, 20}}.

{aql_actors, Nodes}.
{aql_pb_ports, Ports}.

{operations, [{put, 45}, {get, 50}, {delete, 5}]}.

{population, 166}.

{partitions, [{'Artist', 'Age'}]}.
